{{ define "content" }}
<link rel="stylesheet" href="/assets/css/markdown.css">
<section class="section is-fullheight" style="background-color: var(--bg);">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-full-mobile is-10-tablet is-10-desktop">
        <div class="mb-5">
          <div class="mb-5" style="border-bottom: 1px solid var(--muted); padding-bottom: 12px;">
            <h1 class="title is-1">
              {{ if .Meta.Title }}{{ .Meta.Title }}{{ else }}{{ .Meta.Id }}{{ end }}
            </h1>
            <p><small>Fecha de publicación: <span style="color: var(--accent);"> {{ if .Meta.Date }} {{ .Meta.Date }} {{ else }} desconocida {{ end }} </span> </small></p>
          </div>
          <div class="markdown-content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
