---
import { getCollection } from 'astro:content'

const coleccion = "trabajos"
const trabajos = (await getCollection(coleccion)).sort(
    (a, b) =>
        new Date(a.data.pubDate.valueOf()).valueOf() -
        new Date(b.data.pubDate.valueOf()).valueOf()
)
---

<section>
    <ul>
        {
            trabajos.map(trabajo => (
                <li class="visited:text-purple hover:underline">
                    <a href={`/${coleccion}/${trabajo.slug}/`}>{trabajo.data.titulo}</a>
                </li>
            ))
        }
    </ul>
</section>
