/* Card Styles */
.card.is-bordered {
    border: 1px solid var(--gruvbox-secondary-fg);
    border-radius: 8px;
}

/* Media Image */
.media-left .image {
    border-radius: 8px;
    overflow: hidden;
}
