/* Card Styles */
.card.is-bordered {
    border: 1px solid var(--gruvbox-secondary-fg);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.is-bordered:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Image */
.media-left .image {
    border-radius: 8px;
    overflow: hidden;
}
