/* Card Styling */
.card {
    max-width: 400px;
}

.card-image img,
.card-image video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 1s ease, opacity 1s ease;
}

.card-image img {
    object-fit: contain;
}

.card-image:hover img,
.card-image:hover video {
    transform: scale(1.06);
    /* Escala el contenido al 106% de su tamaño */
    opacity: 0.8;
    /* Reduce la opacidad al pasar el mouse */
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.reveal.visible {
    opacity: 1;
    transform: none;
}
