/* Markdown Styles - MÁRGENES UNIFORMES */
.markdown-content {
    line-height: 1.6;
    font-size: 1rem;
    color: var(--fg);
    word-break: break-word;
    overflow-wrap: break-word;
}

.markdown-content h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

.markdown-content h2 {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem 0;
}

.markdown-content h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0;
}

.markdown-content h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
}

.markdown-content h5 {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    margin: 1rem 0;
}

.markdown-content h6 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: var(--muted);
    margin: 1rem 0;
}

.markdown-content p {
    margin: 1rem 0;
}

.markdown-content a {
    text-decoration: underline;
    font-weight: 600;
}

.markdown-content a:hover {
    color: var(--accent-orange);
}

.markdown-content code {
    background: var(--bg-highlight);
    color: var(--fg);
    padding: 0.2rem 0.3rem;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 500;
}

@media (prefers-color-scheme: light) {
    .markdown-content pre span {
        color: var(--bg);
        /* background: var(--fg) !important; */
    }
}

.markdown-content pre code {
    background: none;
}

.markdown-content pre {
    padding: 0.8rem;
    border-radius: 4px;
    margin: 1rem 0;
    font-size: 0.9rem;
    border: 1px solid var(--border);
    -webkit-overflow-scrolling: touch;
}

.markdown-content blockquote {
    border-left: 3px solid var(--border);
    padding: 0.5rem 0.7rem 0.5rem 1.1rem;
    margin: 1rem 0;
    background-color: var(--bg-highlight);
    font-style: italic;
}

.markdown-content ul {
    margin: 1rem 0;
    padding-left: 1.4rem;
}

.markdown-content li {
    margin: 0.5rem 0;
    line-height: 1.5;
}

.markdown-content ul {
    list-style-type: disc;
}

.markdown-content table {
    margin: 2rem auto;
    font-size: 0.9rem;
    border-collapse: collapse;
    width: 100%;
}

.markdown-content th,
.markdown-content td {
    padding: 0.5rem;
    border: 1px solid var(--border);
}

.markdown-content th {
    background-color: var(--bg-dark);
    font-weight: 600;
}

.markdown-content img {
    display: block;
    margin: 2rem auto;
    border-radius: 4px;
    border: 1px solid var(--border);
    max-width: 20vw;
    width: 100%;
    height: auto;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .markdown-content img {
        max-width: 80%;
        /* aumenta el tamaño relativo en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .markdown-content img {
        max-width: 95%;
        /* casi ancho completo en móviles */
    }
}

.markdown-content hr {
    margin: 1rem 0;
    background-color: var(--border);
    height: 1px;
    border: none;
}

/* OL que siempre rompe todo lo que hay */
.markdown-content ol {
    counter-reset: li;
    margin: 1rem 0;
    padding-left: 0;
}

.markdown-content ol>li {
    position: relative;
    margin: 0 0 0.5rem 2.5em;
    padding: 0.1rem 0rem;
    list-style: none;
}

.markdown-content ol>li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2.5em;
    box-sizing: border-box;
    width: 1.8em;
    margin-right: 0.5rem;
    padding: 0.1rem;
    border-top: 2px solid var(--accent-cyan);
    color: var(--bg-hover);
    background: var(--accent-cyan);
    font-weight: bold;
    text-align: center;
}

.markdown-content ul {
    margin: 1rem 0;
    padding-left: 1.4rem;
}

.markdown-content ul>li {
    margin: 0.5rem 0;
    line-height: 1.5;
}

/* Para listas anidadas */
.markdown-content li ol,
.markdown-content li ul {
    margin-top: 0.5rem;
}
