/* General Styles */
.is-bordered {
    border: 1px solid var(--gruvbox-secondary-bg);
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.message-header {
    background-color: var(--gruvbox-primary-bg);
    color: var(--gruvbox-cyan);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.message-body {
    background-color: var(--gruvbox-secondary-bg);
    color: var(--gruvbox-fg);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Slider Styles */
.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 1rem;
    position: relative;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    border-radius: 8px;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 200px;
    margin-right: 1rem;
    border-radius: 8px;
    background: var(--gruvbox-bg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* Slider Navigation Styles */
.slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.slider-nav a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--gruvbox-fg);
    border-radius: 50%;
    margin: 0 0.25rem;
    transition: background 0.3s ease;
    text-indent: -9999px;
    overflow: hidden;
}

.slider-nav a:hover,
.slider-nav a:focus {
    background: var(--gruvbox-cyan);
}

.slider-nav a[aria-current="true"] {
    background: var(--gruvbox-orange);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .columns {
        flex-direction: column;
    }

    .slides > div {
        height: 150px;
    }
}

