---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="mx-auto max-w-7xl">
        <Header title={SITE_TITLE} />
        <main>
            Algunos de los proyectos que llevo a cabo
        </main>
        <Footer />
    </body>
</html>
