---
import BaseSqueleton from '../layouts/BaseSqueleton.astro'
---

<!DOCTYPE html>
<html lang="en">
  <body class="dark:bg-zinc-700 dark:text-white transition-colors duration-300">
    <BaseSqueleton>
      Mi informacion personal va de la siguiente manera
    </BaseSqueleton>
  </body>
</html>
