/* Estilos generales para el contenido Markdown */
.markdown-content {
    font-family: "Fira Code", "Courier New", monospace;
    line-height: 1.6;
    color: #ebdbb2;
    /* Texto claro sobre fondo oscuro */
    background-color: #282828;
    /* Fondo oscuro */
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 1em;
    border-radius: 3px;
}

/* Encabezados */
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    color: #ebdbb2;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.markdown-content h1 {
    font-size: 2.25em;
    border-bottom: 2px solid #d79921;
    /* Color amarillo para h1 */
    padding-bottom: 0.25em;
}

.markdown-content h2 {
    font-size: 1.75em;
    border-bottom: 1px solid #b16286;
    /* Color morado para h2 */
    padding-bottom: 0.2em;
}

.markdown-content h3 {
    font-size: 1.5em;
    color: #8ec07c;
    /* Verde claro para h3 */
}

/* Párrafos */
.markdown-content p {
    margin: 1em 0;
    font-size: 1.1em;
}

/* Enlaces */
.markdown-content a {
    color: #458588;
    /* Azul */
    text-decoration: none;
}

.markdown-content a:hover {
    text-decoration: underline;
}

/* Listas */
.markdown-content ul,
.markdown-content ol {
    margin: 1em 0;
    padding-left: 1.5em;
}

.markdown-content li {
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

/* Citas (Blockquotes) */
.markdown-content blockquote {
    border-left: 4px solid #b16286;
    /* Morado para citas */
    padding-left: 1em;
    color: #ebdbb2;
    /* Blanco */
    font-style: italic;
    margin: 1em 0;
    background-color: #3c3836;
    /* Fondo gris para citas */
}

/* Código */
.markdown-content pre,
.markdown-content code {
    font-family: "Fira Code", "Courier New", monospace;
    font-size: 0.95em;
    background: #3c3836;
    /* Fondo gris para bloques de código */
    /* Bordes gris oscuro */
    color: #ebdbb2;
}

.markdown-content pre {
    border: 1px solid #504945;
    border-radius: 3px;
    overflow-x: auto;
    padding: 1em;
}

/* Tablas */
.markdown-content table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
    background-color: #3c3836;
    /* Fondo gris para tablas */
}

.markdown-content th,
.markdown-content td {
    border: 1px solid #504945;
    /* Bordes gris oscuro */
    padding: 0.75em;
    text-align: left;
}

.markdown-content th {
    background-color: #282828;
    /* Fondo más oscuro para los encabezados de la tabla */
    color: #d79921;
    /* Amarillo para los encabezados */
    font-weight: bold;
}

/* Imágenes */
.markdown-content img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 1em auto;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card-container {
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    /* Evitar que los elementos dentro del contenedor se salgan */
}

.card-container img {
    transition: transform 0.3s ease;
    /* Suavizar la escala de la imagen */
}

#search-icon {
    cursor: pointer;
}

#search-input {
    width: 0;
    transition: width 0.4s ease-in-out;
}

#search-input.show {
    width: 200px;
    display: inline-block;
}

#headerContent {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

#headerContent a {
    color: rgb(255, 255, 255);
}

#headerTitle {
    margin-right: 10px;
}
