{{ define "content" }}
<link rel="stylesheet" href="/assets/css/markdown.css">
<section style="hyphens: auto; word-wrap: break-word;" class="section is-fullheight gruvbox-bg">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-full-mobile is-10-tablet is-10-desktop">
        <div class="box gruvbox-secondary-bg">
          <!-- Post Information -->
          <div class="mb-5">
            <h1 class="title is-1 has-text-weight-bold gruvbox-magenta mb-4">
              {{ if .Meta.Title }}{{ .Meta.Title }}{{ else }}{{ .Meta.Id }}{{ end }}
            </h1>
            <p class="gruvbox-fg">
              <small>
                Fecha de publicación: <span class="gruvbox-cyan">{{ .Meta.Date }}</span>
              </small>
            </p>
            <hr>
            <!-- Post Content -->
            <div class="markdown-content gruvbox-fg">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
