{{define "content"}}
<section class="section is-fullheight">
  <div class="container">
    <h1 class="title gruvbox-magenta">Últimos Posts</h1>
    <div class="is-multiline">
      {{ range .Posts }}
      <div class="my-4">
        <div class="card is-bordered gruvbox-secondary-bg">
          <div class="card-content gruvbox-fg">
            <div class="media">
              <figure class="media-left">
                <img src="{{ .Image }}" alt="{{ .Image }}" class="image is-128x128">
              </figure>
              <div class="media-content">
                <p class="title gruvbox-cyan is-5">{{ .Title }}</p>
                <p class="content">{{ .Description }}</p>
                <div class="level">
                  <p class="is-size-7 level-item is-justify-content-start">
                  <span class="gruvbox-magenta mr-1">Publicado: </span>{{.Date}}
                    <a href="#post" class="ml-3 button gruvbox-orange gruvbox-primary-bg is-small">Leer más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{end}}
