---
import HeaderLink from './HeaderLink.astro'
---

<header class="flex py-4 justify-between w-full border-b
    border-blue-gray-50 mt-2 text-center px-8
    ">
    <nav class="justify-center">
        <HeaderLink class="px-2" href="/">Home</HeaderLink>
        <HeaderLink class="px-2" href="/trabajos">Trabajos</HeaderLink>
        <HeaderLink class="px-2" href="/notas">Notas</HeaderLink>
    </nav>

    <nav>
        <HeaderLink href="https://github.com/elias-gill" target="_blank">
            <img src="/github/icono/github-mark.svg" alt="" class="h-6 w-6">
                GitHub
        </HeaderLink>
    </nav>
</header>
