---
import ThemeToggle from './ThemeToggleButton'
import HeaderButton from './HeaderButton.astro'
---

<header>
  <div
    class="bg-white fixed top-0 left-0 z-50 w-full h-14 border-b border-gray-200 dark:bg-gray-700 dark:border-gray-600"
  >
    <div
      class="h-full font-medium py-4 max-w-4xl flex justify-around mx-auto items-center"
    >
      <div>
        <HeaderButton><span>Home</span></HeaderButton>
        <HeaderButton><span>About</span></HeaderButton>
        <HeaderButton>
          <div class="flex">
            <img
              src="../../public/github/icono/github-mark.svg"
              alt=""
              class="h-4 w-4 mr-1"
            />
            <span>Github</span>
          </div>
        </HeaderButton>
      </div>

      <ThemeToggle client:visible />
    </div>
  </div>
</header>
