---
import HeaderLink from './HeaderLink.astro';
---

<style>
.gradient {
    background: linear-gradient(to top, black, rgba(60,60,60, 0.4));
}
</style>
<header class="fixed w-full p-2 z-20 backdrop-blur-md">
    <div class="mx-auto max-w-3xl">
        <div class="flex flex-full justify-center fixed">
            <nav class="justify-center">
                <HeaderLink href="/">Home</HeaderLink>
                <HeaderLink href="/works">Blog</HeaderLink>
            </nav>
            <nav class="justify-center">
                <HeaderLink href="https://github.com/elias-gill" target="_blank">GitHub</HeaderLink>
            </nav>
        </div>
    </div>
</header>
