<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="8nkPjFL9v6d7jJySgxY542Q_OWdcvUea10CcKflYKMs" />
    <meta name="description" content="Portfolio web programador backend amante de la linea de comandos.">
    <title>Elias Gill - Portfolio</title>
    <link rel="stylesheet" href="/assets/bulma/bulma.min.css">
    <!-- gruvbox colorscheme for the website -->
    <link rel="stylesheet" href="/assets/css/base.css">
  </head>
  <body class="gruvbox-fg gruvbox-bg is-fullwidth">
    {{ block "navbar" . }}{{ end }}
    <div>
      {{ block "content" . }}{{ end }}
    </div>
    {{ block "footer" . }}{{ end }}
  </body>
</html>
